
header
{
  background: rgb(237, 161, 247);
  margin: auto;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 17px;
  padding-bottom: 15px;
  font-family: 'Knewave', cursive;
  background: rgb(35, 61, 25);
  color: rgb(228, 194, 0);
}

a:link, a:visited 
{
  background-color: #ffcaca;
  color: rgb(3, 3, 3);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
}
  
  a:hover, a:active 
{
  background-color: rgb(0, 247, 255);
}

#hours li
{
  margin: auto;
  text-align: center;
  list-style:circle inside;
  display: inline-block;
  margin-left: 100px;
  font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

}

#hours h2
{
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: white;

}
#stores{
    color:rgb(255, 255, 255)
}
#stores li
{
  margin: auto;
  text-align: center;
  list-style:circle inside;
  display: inline-block;
  margin-left: 300px;
  font: bold;
  margin-bottom: 35px;
  font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

}

img {
  display: inline-block;
  border: 10px solid rgb(236, 0, 0);
  border-radius: 2px;
  padding: 7px;
  width: 350px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  font-family: 'Knewave', cursive;
  color: rgb(240, 255, 24);
}

footer li
{
  margin: auto;
  text-align: center;
  list-style:circle inside;
  display: inline-block;
  margin-left: 350px;
  font: bold 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;

}

footer
{
  background: rgb(255, 210, 210);
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(4, 113, 238);
 font-family: 'WindSong', cursive;
}

body
{
  background-color: rgb(255, 142, 142);
  background-image: url(https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg);
}

#formID {
    margin-top: 30px;
    font-family: 'Knewave', cursive;
    padding: 5px;
    color: rgb(255, 255, 255);
    position: center;
}

table, th, td 
{
  border: 5px solid black;
  margin: auto;
  margin-top: 300px;
  font: bold 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
}
